<ion-content>
  <ion-grid>
    <ion-row class="ion-padding-top">
      <ion-col size="12" class="ion-padding-top ion-text-center">
        <ion-text class="SFPROM20">
          <u> {{ 'Create_an_Account' | translate }}</u></ion-text
        >
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center" size="12">
        <div id="upload_button">
          <label>
            <ion-icon style="font-size: 100px; color: #dbdbdb" name="person-circle-outline"></ion-icon>
            <img
              style="margin-left: -40px; margin-bottom: 10px; z-index: 1; position: relative"
              src="assets/images/camera-icon.png"
              class="mr-2"
              alt=""
            />
            <input (change)="imagepload($event)" id="file" type="file" class="form-control" />
          </label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item-divider> </ion-item-divider>
      </ion-col>

      <ion-col size="12">
        <ion-segment value="{{ selectedTab }}" (ionChange)="segmentChanged($event)">
          <ion-segment-button value="1">
            <ion-label class="SFPROM15 font-color">{{ 'Basic_Info' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="2">
            <ion-label class="SFPROM15 font-color">{{ 'Agent_Info' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>

      <ng-template [ngIf]="selectedTab == 1">
        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Enter Name"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Enter E-mail Address"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Enter Phone Number"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Create Password" [type]="showPassword ? 'text' : 'password'"></ion-input>
            <ion-icon *ngIf="!showPassword" slot="end" name="eye-outline" (click)="toggleShow()"></ion-icon>
            <ion-icon *ngIf="showPassword" slot="end" name="eye-off-outline" (click)="toggleShow()"></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Confirm Password" [type]="showConfirmPassword ? 'text' : 'password'"></ion-input>
            <ion-icon
              *ngIf="!showConfirmPassword"
              slot="end"
              name="eye-outline"
              (click)="toggleShowConfirmPass()"
            ></ion-icon>
            <ion-icon
              *ngIf="showConfirmPassword"
              slot="end"
              name="eye-off-outline"
              (click)="toggleShowConfirmPass()"
            ></ion-icon>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-top" size="12">
          <ion-img
            (click)="selectedTab = 2"
            class="image-css ion-text-center"
            src="assets/images/arrow-right.png"
          ></ion-img>
        </ion-col>

        <ion-col size="12" class="ion-text-center SFPROM15 ion-padding-top">
          {{ 'OR' | translate }}
        </ion-col>
        <ion-col *ngIf="signUpType == 1" size="12" class="ion-text-center ion-padding-top">
          <a (click)="signUpType = 2" class="SFPROB13">{{ 'Sign_up_with_Phone_Number' | translate }}</a>
        </ion-col>

        <ion-col *ngIf="signUpType == 2" size="12" class="ion-text-center ion-padding-top">
          <a (click)="signUpType = 1" class="SFPROB13">{{ 'Sign_up_with_E-mail_Address' | translate }}</a>
        </ion-col>

        <ion-col routerLink="/auth/login" size="12" class="ion-text-center ion-padding-bottom SFPROB13">
          {{ 'Already_have_an_Account?' | translate }} <a>{{ 'Login' | translate }}</a>
        </ion-col>
      </ng-template>
      <ng-template [ngIf]="selectedTab == 2">
        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Enter Company ID"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col class="ion-padding-top" size="12">
          <ion-item class="ion-no-padding input-border">
            <ion-input placeholder="Enter Office Address"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" class="ion-text-center ion-padding-top">
          <ion-button routerLink="/auth/otp" class="btn-css">{{ 'Sign_Up' | translate }}</ion-button>
        </ion-col>

        <ion-col size="12" class="ion-text-center SFPROM15 ion-padding-top">
          {{ 'OR' | translate }}
        </ion-col>
        <ion-col *ngIf="signUpType == 1" size="12" class="ion-text-center ion-padding-top">
          <a (click)="signUpType = 2" class="SFPROB13">{{ 'Sign_up_with_Phone_Number' | translate }}</a>
        </ion-col>

        <ion-col *ngIf="signUpType == 2" size="12" class="ion-text-center ion-padding-top">
          <a (click)="signUpType = 1" class="SFPROB13">{{ 'Sign_up_with_E-mail_Address' | translate }}</a>
        </ion-col>
        <ion-col routerLink="/auth/login" size="12" class="ion-text-center ion-padding-bottom SFPROB13">
          {{ 'Already_have_an_Account?' | translate }} <a>{{ 'Login' | translate }}</a>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-grid>
</ion-content>
