ion-searchbar{
    --border-radius: 20px;
}

ion-radio-group{
    ion-item{
        margin: 10px 10px 0px 10px;
        padding: 0px 10px 0px 10px;
        ion-label{
            padding-left: 10px;
        }
    }
}