@import 'colors';
@import 'fonts';

.category-container {
  display: grid;
  flex-direction: row;
  border-radius: 8px;
  border: 1px solid $color-border;
  border-bottom: 2px solid $color-border;

  .category-icon-text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin: 0.5rem;
    width: 5.6rem;
    max-height: 5.5rem;
    min-height: 5.5rem;
    border-radius: 1px;
    justify-content: flex-start;
    //box-shadow: $color-shadow;

    mx-text {
      display: flex;
      align-self: center;
      text-align: center;
      justify-content: center;
      max-width: 4.5rem;
    }
  }

  mx-checkbox {
    height: 0;
    text-align: right;
    z-index: 1;
    margin-right: -0.3rem;
    grid-area: 1 / 1;
  }


  ion-icon {

  }

  mx-text {
    margin: 0.2rem;
  }
}
