/.angular/cache
# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
npm-debug.log*
.eslintcache
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
releases/
tmp/
temp/
$RECYCLE.BIN/
dist/
release/
artefacts/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.history/

TESTS-Chrome_*

!.vscode
.vscode/*
!.vscode/extensions.json
!.vscode/tasks.json
