<ion-header>
  <ion-toolbar>
    <!-- <ion-button color="" slot="start">
      <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
    </ion-button> -->
    <ion-title class="ion-text-center">{{'PROFILE' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-custom-loader *ngIf="loading.status" [title]="loading.msg"></app-custom-loader>
  <div class="container">

    <div class="profile-box">
      <div class="avatar-box">
        <img src="../../../assets/icons/img.png" id="proImage" class="profile_img">
        <div class="cameraIcon">
          <a>
            <ion-icon name="camera-outline" class="profile_img"></ion-icon>
          </a>
        </div>
      </div>

      <div>
        <h3>John Henarry</h3>
      </div>
    </div>
    <ion-item button detail (click)="onSettings()">
      <ion-icon name="person" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'ACCOUNT_DETAILS' | translate}}
        <!-- <p>All the Account Details you can see here</p> -->
      </ion-label>
    </ion-item>

    <ion-item button detail (click)="onSettings()">
      <ion-icon name="settings" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'TITLES.SETTINGS' | translate}}
        <!-- <p>App settings to change general role or app</p> -->
      </ion-label>
    </ion-item>

    <ion-item button detail (click)="onChangePassword()">
      <ion-icon name="lock-open" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'CHANGE_PASSWORD' | translate}}
        <!-- <p>App settings to change general role or app</p> -->
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-icon name="chatbubbles" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'MESSAGES' | translate}}
      </ion-label>
    </ion-item>


    <ion-item button detail>
      <ion-icon name="heart" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'MY_FAVORITE' | translate}}
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-icon name="cash" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'PRICINGS' | translate}}
      </ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-icon name="cash" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'USER_MANAGEMENT' | translate}}
        <p></p>
      </ion-label>
    </ion-item>
    <ion-item button detail>
      <ion-icon name="cash" color="medium" slot="start"></ion-icon>
      <ion-label color="dark">
        {{'PRIVACY' | translate}}
        <p></p>
      </ion-label>
    </ion-item>
  </div>
</ion-content>