@import "./src/theme/common";

.profile-box {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 25px 10px 25px 10px;
  height: auto !important;
}

ion-avatar {
  max-width: 12vh !important; //any size
  max-height: 12vh !important; //any size
  height: 12vh;
  width: 12vh;
}

.cameraIcon {
  position: relative;
  z-index: 10;

  a {
    ion-icon {
      position: absolute;
      font-size: 1.2em !important;
      padding: 1vh;
      background: var(--background);
      border-radius: 50px;
      color: var(--ion-color-primary);
      right: 2vh;
    }
  }
}
