<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{'TAB3_TITLE' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="card-background-page">
  <ion-slides class="slides-horizontal">
    <ion-slide>
      <ion-card>
        <img src="{{items[0].imgSrc}}"/>
        <div class="card-title">Amsterdam</div>
        <div class="card-subtitle">64 Listings</div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="{{items[0].imgSrc}}"/>
        <div class="card-title">Amsterdam</div>
        <div class="card-subtitle">64 Listings</div>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-card>
        <img src="{{items[0].imgSrc}}"/>
        <div class="card-title">San Francisco</div>
        <div class="card-subtitle">72 Listings</div>
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-card>
    <img src="{{items[0].imgSrc}}"/>
    <div class="card-title">Apartments</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>
  <ion-card>
    <img src="{{items[0].imgSrc}}"/>
    <div class="card-title">Condos</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>
  <ion-card>
    <img src="{{items[0].imgSrc}}"/>
    <div class="card-title">Duplexes</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>
  <ion-card>
    <img src="{{items[0].imgSrc}}"/>
    <div class="card-title">Clinics</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>

</ion-content>
