.input-border {
  border: 1px solid #000000;
  border-radius: 10px;
}
.image-css {
  height: 61px;
}

.input-border {
  border: 1px solid #000000;
  border-radius: 10px;
}

.top-padding {
  padding-top: 25% !important;
}
.btn-css {
  width: 223px;
  height: 39px;
  --background: #fe3d3b;
  border-radius: 10px;
}
