<ion-content>
  <ion-grid class="ion-padding">
    <ion-row class="top-padding">
      <ion-col size="12" size-md="4" offset-md="4">
        <ion-text class="SFPROM20">{{
          "Verify_your_Phone_Number" | translate
        }}</ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12" size-md="4" offset-md="4">
        <ion-row>
          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp1
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp2, '')"
            >
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp2
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp3, otp1)"
            >
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp3
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp4, otp2)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp4
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp5, otp3)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp5
              required="true"
              maxLength="1"
              (keyup)="otpController($event, otp6, otp4)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="2">
            <ion-input
              class="input-border"
              style="padding-left: 10px !important"
              #otp6
              required="true"
              maxLength="1"
              (keyup)="otpController($event, '', otp5)"
            >
            </ion-input>
          </ion-col>

          <ion-col size="12" class="ion-text-center ion-padding-top">
            <ion-button class="btn-css" routerLink="/tabs">{{
              "Submit" | translate
            }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
