<ion-content>
  <ion-grid class="ion-padding">
    <ion-row *ngIf="loginType == 1" class="top-padding">
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-img
          class="image-css"
          src="../../../../assets/images/home_key_icon 1.png"
        ></ion-img>
      </ion-col>
      <ion-col class="ion-padding-top ion-text-center" size="12">
        <ion-text class="SFPROM20">{{
          "Login_to_Account" | translate
        }}</ion-text>
      </ion-col>

      <ion-col class="ion-padding-top" size="4">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "Country" | translate }}</mat-label>
          <mat-select [(ngModel)]="selectedCountryCode">
            <mat-option *ngFor="let contry of contryCode" [value]="contry.code">
              <img height="10px" [src]="contry.img" alt="" />
              &nbsp;
              {{ contry.code }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </ion-col>
      <ion-col class="ion-padding-top" size="8">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "Phone-Number" | translate }}</mat-label>
          <input
            type="password"
            (keypress)="numberOnly($event)"
            maxlength="10"
            matInput
            placeholder="XXXX XXX XXX"
          />
        </mat-form-field>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-button class="btn-css" routerLink="/auth/otp">{{
          "Sign_In" | translate
        }}</ion-button>
      </ion-col>

      <ion-col size="12" class="ion-text-center SFPROM15 ion-padding-top">
        {{ "OR" | translate }}
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a (click)="loginType = 2" class="SFPROB13">{{
          "Sign_in_with_Email" | translate
        }}</a>
      </ion-col>
      <ion-col size="12" class="ion-text-center SFPROB13">
        {{ "Don’t_have_an_Account?" | translate }}
        <a routerLink="/auth/sign-up">{{ "Create_Account" | translate }}</a>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="loginType == 2" class="top-padding">
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-img
          class="image-css"
          src="../../../../assets/images/home_key_icon 1.png"
        ></ion-img>
      </ion-col>
      <ion-col class="ion-padding-top ion-text-center" size="12">
        <ion-text class="SFPROM20">{{
          "Login_to_Account" | translate
        }}</ion-text>
      </ion-col>
      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "Enter-E-mail-Address" | translate }}</mat-label>
          <input matInput placeholder="{{'Enter-E-mail-Address' | translate}}" />
        </mat-form-field>
      </ion-col>

      <ion-col size="12">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ "Enter-Password" | translate }}</mat-label>
          <input
            placeholder="{{'Enter-Password' | translate}}"
            [type]="showPassword ? 'text' : 'password'"
            matInput
          />

          <mat-icon *ngIf="!showPassword" (click)="toggleShow()" matSuffix
            >visibility</mat-icon
          >
          <mat-icon *ngIf="showPassword" (click)="toggleShow()" matSuffix
            >visibility_off</mat-icon
          >
        </mat-form-field>
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-button class="btn-css" routerLink="/tabs">{{
          "Sign_In" | translate
        }}</ion-button>
      </ion-col>

      <ion-col size="12" class="ion-text-center SFPROM15 ion-padding-top">
        {{ "OR" | translate }}
      </ion-col>
      <ion-col size="12" class="ion-text-center ion-padding-top">
        <a (click)="loginType = 1" class="SFPROB13">{{
          "Sign_in_with_Phone_Number" | translate
        }}</a>
      </ion-col>
      <ion-col size="12" class="ion-text-center SFPROB13">
        {{ "Don’t_have_an_Account?" | translate }}
        <a routerLink="/auth/sign-up">{{ "Create_Account" | translate }}</a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
