<ion-header class="head-content">
<ion-card class="close-icon"><ion-icon name="close-outline"></ion-icon></ion-card>
<div class="title-text">Details</div>
<ion-card class="share-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-card>
<ion-card class="heart-icon"><ion-icon name="heart-outline"></ion-icon></ion-card>
<button color="#EEEEEF" class="main-button" routerLink="/main">Main</button>
<button color="#EEEEEF" routerLink="/location" class="location-button">Location</button>
<button color="#EEEEEF" routerLink="/rooms" class="room-button">Rooms</button>
<button color="red" routerLink="/agreement" class="agreement-button">Agreement</button>
</ion-header>

<ion-content>
 
</ion-content>
