<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>{{'TAB1_TITLE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon name="search-sharp"></ion-icon>
      <ion-label>{{'TAB2_TITLE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="categories">
      <ion-icon name="menu"></ion-icon>
      <ion-label>{{'TAB3_TITLE' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{'TAB4_TITLE' | translate}}</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
