<ion-header class="head-content">
<ion-card class="close-icon"><ion-icon name="close-outline"></ion-icon></ion-card>
<div class="title-text">Details</div>
<ion-card class="share-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-card>
<ion-card class="heart-icon"><ion-icon name="heart-outline"></ion-icon></ion-card>
<button color="red" class="main-button" routerLink="/main">Main</button>
<button color="#EEEEEF" routerLink="/location" class="location-button">Location</button>
<button color="#EEEEEF" routerLink="/rooms" class="room-button">Rooms</button>
<button color="#EEEEEF" routerLink="/agreement" class="agreement-button">Agreement</button>
</ion-header>


<ion-content>
  <div class="main-content">
  <div>
    <ion-card class="back"><ion-icon name="chevron-back-outline"></ion-icon></ion-card>
    <ion-card class="forward"><ion-icon name="chevron-forward-outline"></ion-icon></ion-card>
    <img src="../../../assets/images/img.png" alt="" class="img">
  </div>
 <button class="photo-button">Photos</button>
 <button class="video-button">Videos</button>
<ion-grid>
  <ion-row>
    <ion-col class="text">
      <h6>Agreement</h6>
    </ion-col>
    <ion-col class="text-2-col">
      <h6>Buy & Rent</h6>
    </ion-col>
  </ion-row>

  <ion-row style="margin-top: 20px;">
    <ion-col class="bed-icon">
      <ion-icon name="bed-outline"></ion-icon>
    </ion-col>
      <p class="bedrooms-text">Bedrooms</p>
    <ion-col class="digit-3">
      3
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px;">
    <ion-col class="bed-icon">
      <ion-icon name="cart-outline"></ion-icon>
    </ion-col>
    <p class="bedrooms-text">
      Bathrooms
    </p>
    <ion-col class="digit-3">
      2
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px;">
    <ion-col class="bed-icon">
      <ion-icon name="film-outline"></ion-icon>
    </ion-col>
    <p class="bedrooms-text">
      Floor
    </p>
    <ion-col class="digit-3">
      5
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px;">
    <ion-col class="bed-icon">
      <img src="../../assets/images/Path (2).png" alt="" class="home-img">
    </ion-col>
    <p class="bedrooms-text">
      Sqaure
    </p>
    <ion-col class="digit-3">
      230 sqm
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px;">
    <ion-col class="bed-icon">
      <ion-icon name="pricetag-outline"></ion-icon>
    </ion-col>
    <p class="bedrooms-text">
      Price
    </p>
    <ion-col class="digit-3">
      $2 000 000
    </ion-col>
  </ion-row>

  <ion-row style="font-size: 12px;">
    <ion-col class="bed-icon">
      <ion-icon name="pricetag-outline"></ion-icon>
    </ion-col>
    <p class="bedrooms-text">
      <b>Arnona</b>
    </p>
    <ion-col  class="digit-3">
       $200
    </ion-col>
  </ion-row>
  <h5>Current Status</h5>
  <ion-row>
    <ion-col class="status">
      Status:
    </ion-col>
    <ion-col>
      <button style="height: 29px;
    width: 70px;
    background: gray;
    margin-left: 221px;
    margin-top: 20px;
    position: absolute;"></button>
      <button class="btn-color">Open</button>
    </ion-col>
  </ion-row>
       <h5>Open Doors</h5>
  <hr>
  <ion-row style="
  margin-top: 65px;
">
    <ion-col class="days-name">
       Mon
    </ion-col>
    <ion-col class="date-style">
      20 january
    </ion-col>
    <ion-col class="time-size">
      18:00
    </ion-col>
    <ion-col>
      <ion-avatar></ion-avatar>
    </ion-col>
    <ion-col>
      <button style="height: 29px;
      width: 70px;
      background: gray;
      margin-left: 221px;
      margin-top: 20px;
      position: absolute;"></button>
      <button class="button-style">Enroll</button>
    </ion-col>
  </ion-row>

  <ion-row style="
  margin-top: 65px;
">
    <ion-col class="days-name">
      Wed
    </ion-col>
    <ion-col class="date-style">
      22 january
    </ion-col>
    <ion-col class="time-size">
      18:00
    </ion-col>
    <ion-col>
      <ion-avatar></ion-avatar>
    </ion-col>
    <ion-col>
      <button style="height: 29px;
      width: 70px;
      background: gray;
      margin-left: 221px;
      margin-top: 20px;
      position: absolute;"></button>
      <button class="button-style">Enroll</button>
    </ion-col>
  </ion-row>

  <ion-row style="
  margin-top: 65px;
">
    <ion-col class="days-name">
         Thu
    </ion-col>
    <ion-col class="date-style">
      24 january
    </ion-col>
    <ion-col class="time-size">
      9:00
    </ion-col>
    <ion-col>
      <ion-avatar></ion-avatar>
    </ion-col>
    <ion-col>
      <button style="height: 29px;
      width: 70px;
      background: gray;
      margin-left: 221px;
      margin-top: 20px;
      position: absolute;"></button>
      <button class="button-style">Enroll</button>
    </ion-col>
  </ion-row>

  <ion-row style="
  margin-top: 65px;
">
    <ion-col class="days-name">
        Fri
    </ion-col>
    <ion-col class="date-style">
      26 january
    </ion-col>
    <ion-col class="time-size">
      10:00
    </ion-col>
    <ion-col>
      <ion-avatar></ion-avatar>
    </ion-col>
    <ion-col>
      <button style="height: 29px;
      width: 70px;
      background: gray;
      margin-left: 221px;
      margin-top: 20px;
      position: absolute;"></button>
      <button class="button-style">Enroll</button>
    </ion-col>
  </ion-row>

  <ion-row style="
  margin-top: 65px;padding-bottom: 38px;
">
    <ion-col class="days-name">
        Sat
    </ion-col>
    <ion-col class="date-style">
      27 january
    </ion-col>
    <ion-col class="time-size">
      20:00
    </ion-col>
    <ion-col>
     <ion-avatar></ion-avatar>
    </ion-col>
    <ion-col>
        <button style="height: 29px;
        width: 70px;
        background: gray;
        margin-left: 221px;
        margin-top: 20px;
        position: absolute;"></button>
      <button class="button-style">Enroll</button>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col size="6" style="font-size: 30px;
    margin-top: 38px;
    position: absolute;">
      Published from date
    </ion-col>
    <ion-col size="6" style="text-align: end;
    font-size: 20px;
    position: absolute;
    margin-left: 246px;
    margin-top: 43px;">
      07.02,2020
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <p style="font-size: 31px;
      position: absolute;
      margin-top: 98px;">Published by:</p>
    </ion-col>
    <ion-col>
      <ion-avatar class="avatar"><ion-icon name="checkmark-outline"></ion-icon></ion-avatar>
      <p style="position: absolute;
      margin-left: 147px;
      margin-top: 106px;
      font-size: 24px;">Private</p>
    </ion-col>
    <ion-col>
    <ion-avatar class="avatar1"><ion-icon name="checkmark-outline"></ion-icon></ion-avatar>
      <p style="position: absolute;
    margin-left: 95px;
    margin-top: 103px;
    font-size: 25px;;">Agent</p>
    </ion-col>
  </ion-row>
</ion-grid>
<p style="color: gray;
font-size: 39px;
padding: 10px;
margin-top: 289px;">Contacts</p>
<br><br>
<p style="color: black;
font-size: 28px;
position: absolute;
margin-top: -51px;
margin-left: 17px;">Name of the owner: Sigmund Blanda</p>

<p style="color: black;
font-size: 28px;
position: absolute;
margin-top: 5px;
margin-left: 17px;">Phone:773.851.2323</p>
    <p style="color: gray;
    font-size: 40px;
    position: absolute;
    margin-top: 116px;
    margin-left: 17px;">Reviews</p>
    <ion-input type="text" class="input-text"><p style="margin-top: -72px;
      margin-left: 13px;">Enter your review</p></ion-input>
  </div>
</ion-content>




