<ion-header class='ion-no-border' translucent='true'>
  <ion-toolbar class='bg-primary'>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()"  fill="clear">
        <ion-icon name='chevron-back' color='dark'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color='dark' *ngIf="type == 'recover'"> Recover Password </ion-title>
    <ion-title class="ion-text-center" color='dark' *ngIf="type == 'change'"> Edit Details  </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class='bg-primary' translucent='true'>
  <app-custom-loader *ngIf="loading.status" ></app-custom-loader>

  <!-- recover password -->
  <ng-container *ngIf="type == 'recover'">
    <form class='' >
      <ng-container class='set-bg'>
        <div class=" container h-100">
          <div class="flexed-div">
            <ion-grid>
              <ion-row class="">
                <ion-col size="12" size-sm="6" offset-sm="3">
                  <ion-item lines="none" class='input-item'>
                    <ion-input name="emailTxt" placeholder="Email *" [(ngModel)]="formDetails.email"
                      type="email" ngModel required #emailCtrl="ngModel"></ion-input>
                    <span class="validity"></span>
                  </ion-item>
                  <ion-label *ngIf="!emailCtrl.valid && emailCtrl.touched" class='error-label'>
                    Email should be valid
                  </ion-label>
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>
        </div>
      </ng-container>

      <ion-row>
        <ion-col size='12' class="ion-padding">
          <ion-button (click)="sendEmail(form)" class="grd-btn"  expand="block" color="success" [disabled]="!emailCtrl.valid"> SEND EMAIL
          </ion-button>
        </ion-col>
      </ion-row>

    </form>
  </ng-container>


  <!-- Change password -->
  <ng-container *ngIf="type == 'change'">
    <form>
      <!-- Step one -->
      <ng-container class='set-bg'>
        <div class="">
          <div class="flexed-div">
              <ion-row class="">
                <ion-col size="12">
                  <div class="de-flex gray-txt">
                    <h1>Change your Password</h1>
                    <p> If you want to change your password associated with your account you may do so bellow,
                      be sure to click on update button onces you are done.
                    </p>
                  </div>
                </ion-col> 
                <ion-col size="12" size-sm="6" offset-sm="3">
                  <ion-item lines="none" class='input-item'>
                    <ion-input name="oldPasswordTxt" placeholder="Password *" minlength="6" maxlength="20" [(ngModel)]="formDetails.old_password"
                      type="text" ngModel required #oldPasswordTxt="ngModel"></ion-input>
                    <span class="validity"></span>
                  </ion-item>
                  <ion-label *ngIf="!oldPasswordTxt.valid && oldPasswordTxt.touched" class='error-label'>
                    Password length should be >= six 
                  </ion-label>
                </ion-col>
                <ion-col size="12" size-sm="6" offset-sm="3">
                  <ion-item lines="none" class='input-item'>
                    <ion-input name="newPasswordTxt" placeholder="Conform Password *" minlength="6" maxlength="20" [(ngModel)]="formDetails.new_password"
                      type="text" ngModel required #newPasswordTxt="ngModel"></ion-input>
                    <span class="validity"></span>
                  </ion-item>
                  <ion-label *ngIf="!newPasswordTxt.valid && newPasswordTxt.touched" class='error-label'>
                    Password length should be >= six
                  </ion-label>
                </ion-col>

                <ion-col size="12" class="ion-padding">
                  <ion-label *ngIf="message" class='error-label'>
                    Password mismatch please match your password!
                  </ion-label>
                </ion-col>

                <ion-col size='12'>
                  <ion-button class="grd-btn" (click)="changePassword()"  expand="block"> Change Password
                  </ion-button>
                </ion-col>
              </ion-row>
          </div>
        </div>
      </ng-container>

    </form>
  </ng-container>

</ion-content>