<ion-header class="head-content">
  <ion-card class="close-icon"><ion-icon name="close-outline"></ion-icon></ion-card>
  <div class="title-text">Details</div>
  <ion-card class="share-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-card>
  <ion-card class="heart-icon"><ion-icon name="heart-outline"></ion-icon></ion-card>
  <button color="#EEEEEF" class="main-button" routerLink="/main">Main</button>
  <button color="red" routerLink="/location" class="location-button">Location</button>
  <button color="#EEEEEF" routerLink="/rooms" class="room-button">Rooms</button>
  <button color="#EEEEEF" routerLink="/agreement" class="agreement-button">Agreement</button>
  </ion-header>

<ion-content>
  
  <div class="main-div">
  <p style="font-size: 12px;">Address</p> 
  <ion-icon name="business-outline" class="icon-style"></ion-icon>
  <p style="font-size: 10px;
  margin-top: -17px;
  margin-left: 16px;">25286 Greenholt Drive</p> 
  <ion-button color="white" shape="round" class="button-style">Center</ion-button>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76493.28841531475!2d-2.957921851335099!3d53.19246841449776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487ac1d9629cf569%3A0x49626cb38dd8f89f!2sChester%2C%20UK!5e0!3m2!1sen!2s!4v1650461659162!5m2!1sen!2s" width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  <br>
  <div class="div-button">
    <p style="font-size:11px;">Next to</p>
    <br>
    <p><ion-button color="red" class="button-color1" style="width: 80px;" shape="round">Subway</ion-button></p>
    <p><ion-button color="red" class="button-color1" style="width: 80px;" shape="round">Shop Mail</ion-button></p>
    <br>
    <p style="    height: 21px;
    background: gray;
    width: 69px;
    border-bottom-left-radius: 11px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;"><ion-button color="red" class="button-color1" shape="round">Garden</ion-button></p>
    <p><ion-button color="white" class="button-color"shape="round">School</ion-button></p>
    <p><ion-button color="white" class="button-color"shape="round">Dog Park</ion-button></p>
    <br>
   <p> <ion-button color="red" class="button-color1"shape="round">Sea</ion-button></p>
   <p> <ion-button color="white" class="button-color"shape="round">Theater</ion-button></p>
    

  </div>
</div>
</ion-content>
