@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap');

* {
  font-family: 'Rubik', 'sans-serif';
}


$font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;


$font-size-tiny: 0.875rem;
$font-size-normal: 1rem;
$font-size-18: 1.125rem;
$font-size-20: 1.25rem;
$font-size-24: 1.5rem;
$font-size-26: 1.625rem;
$font-size-30: 1.875rem;

$font-size-button: $font-size-normal;

$font-weight-bold: bold;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-900: 900;
