ion-content{
  --background:none;
  background: #F5F5F5;
}


ion-toolbar {
  --background: whitesmoke;
    ion-button {
      margin-left: 12px;
    }
  }
  .progress-div{
    margin-right: 15px;
    margin-left: 18px;
    margin-top: 5px;
  }
  
  .progress-grid {
    width: 100%;
    height: 10px;
    background-color: white;
    border-radius: 50px;
  }

  .code-box{
    --background:none;
  }

  .byclicking{
    // margin-top:20px;
    font-weight: 600;
    margin-right: auto;
    margin-left: auto;
  }

  .vefy-input{
    border-bottom: 2px solid; 
    font-size: 30px;
    text-align: center;
    margin: 5px;
    padding: 0px !important;
  }
  
  .byclicking a{
  color:#18368b;
  text-decoration:none; 
  } 
  
  .byclicking a:hover{
  color:#000;
  text-decoration:none;
  } 
  .progress-bar {
    height: 8px;
    width: 40px;
    width: 75% !important;
    background-color: var(--ion-color-warning);
    position: absolute;
    margin: 1px;
    border-radius: 50px;
  }
  
  .vf-div{
    margin-left: 5px;
    color: white;
  }
  .main-div{
    height: 200% !important;
  }
  
  .hint-txt{
    position: absolute;
    top: 30%;
    left: 80%;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
  }
  ion-item{
    // --padding-start: 0px;
    // --padding-end: 0px;
  }
  
  .col-flex{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-content: flex-end;
      flex-wrap: nowrap;
      align-items: center;
  }
  
  ion-footer{
    --background: none;
      background: transparent;
      margin: 0px;
      padding: 0px;
      background-color: var(--ion-color-primary);
  }