<ion-segment
  color="primary"
  (ionChange)="onCategoryChange($event)"
  class="categories-list flex-wrap"
  [class.scrollHorizontal]="inRow"
  [class.flex-row]="inRow">
  <ion-segment-button
    class="category-button"
    *ngFor="let category of categories" value="{{category.title}}">
    <mx-checkbox
      *ngIf="category.title === selected"
      [size]="'medium'" [background]="Color.primary"
      [color]="Color.light"></mx-checkbox>
    <ion-icon
      [size]="'large'"
      [name]="category.icon">
    </ion-icon>
    <ion-label class="text segment" text-wrap>{{category.title | translate}}</ion-label>
  </ion-segment-button>
</ion-segment>
