<div class="section">
  <mx-text [type]="textType.sectionTitle"
           [title]="'TITLES.DETAILS' | translate">
  </mx-text>
  <!--  Square¬-->
  <ion-item class="section field">
    <ion-label position="fixed">
      <mx-text
        [type]="textType.sectionTitle" [title]="'SQUARE_AREA' | translate"></mx-text>
    </ion-label>
    <mx-input
      class="full-width"
      [value]="0"
      (onChange)="onSquareAreaInput($event)"
      [placeholder]="'PLACEHOLDERS.ENTER_VALUE_IN' | translate : {value: '(meter/feets)'}"></mx-input>
  </ion-item>

  <!--  Year Build-->
  <ion-item class="section field">
    <ion-label>
      <mx-text [type]="textType.sectionTitle" [title]="'YEAR_BUILD' | translate"></mx-text>
    </ion-label>
    <ion-select
      ok-text="Okay" cancel-text="Nah"
      class="year"
      [value]="dateValue" (ionChange)="onYearBuildSelect($event)">
      <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
    </ion-select>
  </ion-item>
  <!--  New Construction-->
  <ion-item class="flex-column field flex-row ion-align-items-center full-width">
    <ion-label>
      <mx-text [type]="textType.sectionTitle" [title]="'NEW_CONSTRUCTION' | translate"></mx-text>
    </ion-label>
    <ion-list class="flex-auto mx-checkboxes">
      <ion-radio-group allow-empty-selection="false"
                       class="flex-auto flex-1"
                       name="radio-group"
                       (ionChange)="onNewConstructionSelect($event)"
                       #radioGroup>
        <ion-row class="flex-auto ion-float-right">
          <ion-item *ngFor="let item of radio_list"
                    (ionFocus)="radioFocus()"
                    (ionBlur)="radioBlur()">
            <ion-label class="mx-label">{{item.text | translate}}</ion-label>
            <ion-radio name="{{item.name}}"
                       value="{{item.value}}"
                       checked="{{item.checked}}"
                       color="{{item.color}}"
                       disabled="{{item.disabled}}">
            </ion-radio>
          </ion-item>
        </ion-row>
      </ion-radio-group>
    </ion-list>
  </ion-item>
  <!--    ON THE LAND-->
  <ion-item class="section field">
    <ion-label>
      <mx-text [type]="textType.sectionTitle" [title]="'ON_THE_LAND' | translate"></mx-text>
    </ion-label>
    <ion-toggle [(ngModel)]="property.onTheLand"></ion-toggle>
  </ion-item>

  <!--   LAST FLOOR-->
  <ion-item class="section field">
    <ion-label>
      <mx-text [type]="textType.sectionTitle" [title]="'LAST_FLOOR' | translate"></mx-text>
    </ion-label>
    <ion-toggle
      [checked]="!!property.lastFloor"
      (ionChange)="onLastFloor($event)"></ion-toggle>
  </ion-item>

  <!--  FLOOR-->
  <ion-item class="section field" *ngIf="!property.lastFloor">
    <ion-label position="fixed">
      <mx-text
        [type]="textType.sectionTitle" [title]="'SQUARE_AREA' | translate"></mx-text>
    </ion-label>
    <mx-input
      class="full-width"
      [value]="property.floor"
      (onChange)="onFloorChange($event)"
      [placeholder]="'FLOOR' | translate"></mx-input>
  </ion-item>

  <!--  Description-->
  <ion-item>
    <mx-text [type]="textType.sectionTitle"
             [title]="'DESCRIPTION' | translate">
    </mx-text>
  </ion-item>
  <mx-textarea
    [value]="property.description"
    (onChange)="onDescriptionInput($event)"
    [inputmode]="'text'">
  </mx-textarea>
</div>

<div class="section">
  <mx-text [type]="textType.sectionTitle"
           [title]="'TITLES.ROOMS' | translate">
  </mx-text>
  <!--  BEDROOMS-->
  <ion-item class="section field">
    <mx-plus-minus-toggle class="full-width"
                          (onChange)="onBedroomsChange($event)"
                          [value]="property.floor"
                          [max]="10"
                          [title]="'BEDROOMS' | translate">
    </mx-plus-minus-toggle>
  </ion-item>

  <!--  BATHROOMS-->
  <ion-item class="section field">
    <mx-plus-minus-toggle class="full-width"
                          (onChange)="onBathroomsChange($event)"
                          [value]="property.floor"
                          [max]="5"
                          [title]="'BATHROOMS' | translate">
    </mx-plus-minus-toggle>
  </ion-item>
  <!--  BALCONIES -->
  <ion-item class="section field">
    <mx-plus-minus-toggle class="full-width"
                          (onChange)="onBalconiesChange($event)"
                          [value]="property.floor"
                          [max]="3"
                          [title]="'BALCONIES' | translate">
    </mx-plus-minus-toggle>
  </ion-item>
</div>

<!--KITCHEN AMENITIES-->
<div class="section">
  <mx-button-list
    [values]="property.kitchen"
    [buttons]="kitchenAmenities"
    [title]="'KITCHEN' | translate"
    (onClick)="onKitchenChange($event)"></mx-button-list>
</div>

<!--AMENITIES-->
<div class="section">
  <mx-button-list
    [values]="property.amenities"
    [buttons]="amenities"
    [preview]="true"
    [title]="'AMENITIES' | translate"
    (onClick)="onAmenitiesClick($event)"></mx-button-list>
</div>

<div class="section">
  <mx-button-list
    [values]="property.facilities"
    [buttons]="facilitiesList"
    [preview]="true"
    [title]="'FACILITIES' | translate"
    (onClick)="onFacilitiesClick($event)"></mx-button-list>
</div>

<!--SAFETY AMENITIES-->
<div class="section">
  <mx-button-list
    [values]="property.safetyAmenities"
    [buttons]="safetyAmenitiesList"
    [title]="'SAFETY_AMENITIES' | translate"
    (onClick)="onSafetyAmenitiesClick($event)"></mx-button-list>
</div>

