<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      {{'TAB1_TITLE' | translate}}
    </ion-title>
    <ion-buttons slot="start">
      <!--  add listing-->
      <ion-button
        size="large"
        color="primary"
        [routerLink]="['/addProperty']">
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <!-- open map-->
      <ion-button
        color="primary"
        size="large"
        [routerLink]="['/map']">
        <ion-icon slot="icon-only" name="map-outline"></ion-icon>
      </ion-button>
      <!-- change grid-->
      <ion-button
        color="primary"
        size="large">
        <ion-icon slot="icon-only" name="grid-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <!--list sort by-->
    <ion-buttons slot="primary">
      <ion-button
        color="primary"
        size="large">
        <ion-icon slot="icon-only" name="reorder-four-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-router-outlet></ion-router-outlet>
</ion-content>
