<div class="section">
  <mx-text [type]="textType.sectionTitle" [title]="'TITLES.CATEGORIES' | translate"></mx-text>
  <ion-item>
    <mx-categories class="ion-padding-vertical" (onClick)="onCategorySelect($event)"></mx-categories>
  </ion-item>
</div>

<!--   Address & Map-->
<div class="section">
  <ion-item>
    <mx-text [type]="textType.sectionTitle" [title]="'ADDRESS' | translate"></mx-text>
  </ion-item>
  <mx-input [value]="property.address"
            [autocomplete]="true"
            [type]="'text'"
            (onChange)="onAddressInput($event)"
            [icon]="'locate-outline'"
            [placeholder]="'PLACEHOLDERS.ENTER_ADDRESS' | translate"></mx-input>
  <mx-map></mx-map>
</div>

<!--         Datetime in popover with input -->
<!--  <div class="section">-->
<!--    <ion-item>-->
<!--      <ion-button fill="clear" id="open-date-input-2">-->
<!--        <ion-icon icon="calendar"></ion-icon>-->
<!--      </ion-button>-->
<!--      <ion-popover trigger="open-date-input-2" show-backdrop="false">-->
<!--        <ng-template>-->
<!--          <ion-datetime-->
<!--            #popoverDatetime2-->
<!--            presentation="date"-->
<!--            (ionChange)="dateValue2 = formatDate(popoverDatetime2.value)"-->
<!--          ></ion-datetime>-->
<!--        </ng-template>-->
<!--      </ion-popover>-->
<!--    </ion-item>-->
<!--  </div>-->


<!--  Next to-->
<div class="section">
  <mx-text [type]="textType.sectionTitle" [title]="'NEXT_TO' | translate"></mx-text>
  <div class="flex-wrap ion-padding-vertical">
    <ion-button (click)="onNextToClick(obj)" *ngFor="let obj of nextToList"
                [color]="isNextToSelected(obj) ? 'primary' : 'light'">
      {{obj | translate}}
    </ion-button>
  </div>
</div>
