<ion-header>
  <ion-toolbar>
    <!--BACK-->
    <ion-buttons slot="start">
      <ion-back-button (click)="previousPage()"
                       [text]="''"
                       color="primary"
                       [icon]="'chevron-back-outline'">
      </ion-back-button>
    </ion-buttons>

    <ion-title>{{(activeStep || steps[0])?.title | translate}}</ion-title>

    <!--NEXT-->
    <ion-buttons slot="end">
      <ion-button (click)="nextPage($event)" color="primary" size="large">
        <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" [scrollY]="true">
  <!--  Progress Bar-->
  <div class="section">
    <mx-progress-bar [steps]="steps"></mx-progress-bar>
  </div>
  <router-outlet (activate)="onOutletLoaded($event)"></router-outlet>
  <div class="section">
    <ion-button size="large" (click)="nextPage($event)" expand="block">{{'SAVE' | translate}}</ion-button>
  </div>

</ion-content>
