@import 'common';


.grid {
  overflow-x: scroll;
  white-space: nowrap;
  min-height: 8vh;
  display: flex;
  justify-content: center;

  .timeSlots {
    align-self: center;
    padding: 0 5px 0 5px;
    margin: 5px;
    border-radius: $border-radius;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    transition: $transition-selection;
    font-weight: $font-weight-500;

    p {
      font-size: $font-size-tiny;
      text-align: center;
      color: var(--ion-text-color);
    }

    &.selectedTimeSlot {
      background-color: var(--ion-color-primary) !important;
      color: $color-white !important;
      font-weight: $font-weight-500;

      p {
        color: $color-white !important;
      }
    }
  }
}

