<mx-text [type]="'sectionTitle'" [title]="title"></mx-text>
<div class="flex-wrap ion-padding-vertical">
  <ion-button (click)="onButtonClick(obj)" *ngFor="let obj of previewButtons"
              [color]="isSelected(obj) ? 'primary' : 'light'">
    {{obj | translate}}
  </ion-button>
</div>

<ion-button (click)="onOtherClick()"
            *ngIf="preview"
            expand="block" size="large"
            fill="outline">
  <ion-icon slot="start" name="{{!showMore ? 'add': 'remove-outline'}}"></ion-icon>
  <ion-label>{{(!showMore ? 'OTHER' : 'HIDE') | translate}} {{buttons?.length - previewButtons?.length || ''}}</ion-label>
  <ion-icon slot="end" name="start"></ion-icon>
</ion-button>
