<ion-header class='ion-no-border' translucent='true'>
  <ion-toolbar class='bg-primary'>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" (click)="onDismiss()">
        <!-- <img src="../../../assets/menu_bar.svg" /> -->
        <ion-icon name='chevron-back' color='light'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color='light'>
      Update Profile
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class='bg-primary' translucent='true'>
  
</ion-content>