<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class="ion-text-center">Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-custom-loader *ngIf="loading.status" [title]="loading.msg"></app-custom-loader>
  <ion-list>

    <ion-item button detail>
      <ion-label color="primary">
        Profile Details
      </ion-label>
    </ion-item>

    <ion-item button detail>
      <ion-label color="primary">
        Settings
      </ion-label>
    </ion-item>

    <ion-item button detail >
      <ion-label color="primary">
        Messages
      </ion-label>
    </ion-item>


    <ion-item button detail >
      <ion-label color="primary">
        My Favorite
      </ion-label>
    </ion-item>
    
    <ion-item button detail >
      <ion-label color="primary">
        Pricings
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label color="primary">
        <h4 *ngIf="!isPause" >Pause Profile</h4>
        <h4 *ngIf="isPause">Un Pause Profile</h4>
      </ion-label>
      <ion-toggle [checked]="isPause" color="success" (ionChange)='changePause($event)' ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="primary">
        <h4 *ngIf="!isDeleted" >Delete Profile</h4>
        <h4 *ngIf="isDeleted">Your profile deleted</h4>
      </ion-label>
      <ion-toggle [checked]="isDeleted" [disabled]="isDeleted" color="success" (ionChange)='deleteProfile($event)' ></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label color="primary">
        <h4>Allow Notifications</h4>
      </ion-label>
      <ion-toggle [(ngModel)]="isAllowNotification" color="success" ></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header >
      <ion-label>Membership Settings</ion-label>
    </ion-list-header>

    <ion-item button="true" detail> 
      <ion-label color="primary">
        Un Subscribe Membership
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>