@import 'src/theme/common';


//ion-list {
//  background: none;
//  --background: none;
//}

.box {
  padding: 0 10px;
  margin: 10px 0;
  //--background: none;
  //border-radius: $border-radius;
  //box-shadow: 5px 5px 8px var(--ion-color-shade), -3px -3px 10px var(--ion-color-shade);
}

.container {
  padding: 20px;

  ion-item {
    //padding: 7px 7px;
    //margin: 15px 0;
    --background: none;
    border-radius: $border-radius;
    box-shadow: 5px 5px 8px #8d8f914d, -3px -3px 10px var(--ion-color-shade);
    // height: 65px;
    ion-icon {
      margin: 0 8px 0 0 !important;
    }

    ion-label {
      p {
        font-size: 12px;
      }
    }
  }
}

ion-avatar {
  height: 10vh;
  width: 10vh;
  opacity: 0.3;
}
.profile-box {
  padding: 10px;
  height: auto !important;
  display: flex;

  .cameraIcon {
    position: absolute !important;
    bottom: 15px;
    left: 80px;
    z-index: 10;
    border-radius: 50px;

    a {
      ion-icon {
        font-size: 20px !important;
        background: var(--ion-background-color);
        border-radius: 50px;
        color: $color-white;
        padding: 5px;
      }
    }
  }
}

ion-button[shape=circle] {
  --border-radius: 50%;
  width: 50px;
  height: 50px;
}
