<p>
  Properties Component!
</p>
<!--  <ion-card>-->
<!--    <div>-->
<!--      <ion-img [src]="items[0].imgSrc" [alt]="items[0].name"></ion-img>-->
<!--    </div>-->
<!--    <ion-card-content>-->
<!--      <ion-row class="ion-align-items-stretch">-->
<!--        <ion-col>-->
<!--          <ion-item lines="none">-->
<!--            <ion-label>-->
<!--              New York, 121 Avenue-->
<!--            </ion-label>-->
<!--            <ion-icon name="information-circle" size="small" slot="end"></ion-icon>-->
<!--          </ion-item>-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--      &lt;!&ndash;        <ion-col class="ion-padding-end ion-text-end">&ndash;&gt;-->
<!--      &lt;!&ndash;          <ion-text>20,000,000</ion-text>&ndash;&gt;-->
<!--      &lt;!&ndash;        </ion-col>&ndash;&gt;-->
<!--      <ion-row class="ion-justify-content-around">-->
<!--        <ion-col>-->
<!--          &lt;!&ndash;            <ion-item lines="none" class="">&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="">212</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="">Meters</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;            </ion-item>&ndash;&gt;-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--          &lt;!&ndash;            <ion-item lines="none">&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="text">3</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="text">Bedrooms</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;            </ion-item>&ndash;&gt;-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--          &lt;!&ndash;            <ion-item lines="none">&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="text">1</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="text">Bathroom</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;            </ion-item>&ndash;&gt;-->
<!--        </ion-col>-->
<!--        <ion-col>-->
<!--          &lt;!&ndash;            <ion-item lines="none">&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-icon name="star" slot="start"></ion-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-label>&ndash;&gt;-->
<!--          &lt;!&ndash;                Icon Start&ndash;&gt;-->
<!--          &lt;!&ndash;              </ion-label>&ndash;&gt;-->
<!--          &lt;!&ndash;            </ion-item>&ndash;&gt;-->
<!--          &lt;!&ndash;            <ion-item lines="none">&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion- class="text">4</ion->&ndash;&gt;-->
<!--          &lt;!&ndash;              <ion-text class="text">Floor</ion-text>&ndash;&gt;-->
<!--          &lt;!&ndash;            </ion-item>&ndash;&gt;-->
<!--        </ion-col>-->
<!--      </ion-row>-->
<!--    </ion-card-content>-->
<!--  </ion-card>-->

<!--  <ion-card>-->
<!--    <ion-item-sliding>-->
<!--      <ion-item>-->
<!--        <div>-->
<!--          <ion-img [src]="items[0].imgSrc" [alt]="items[0].name"></ion-img>-->
<!--        </div>-->
<!--        <ion-card-content>-->
<!--          <ion-row class="ion-align-items-stretch">-->
<!--            <ion-col>-->
<!--              <div class="icon-text">-->
<!--                <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--                <ion-text class="text">New York, 121 Avenue</ion-text>-->
<!--              </div>-->
<!--            </ion-col>-->
<!--            <ion-col class="ion-padding-end ion-text-end">-->
<!--              <ion-text>20,000,000</ion-text>-->
<!--            </ion-col>-->
<!--          </ion-row>-->
<!--          <ion-row class="ion-justify-content-around">-->
<!--            <ion-col class="ion-margin-horizontal">-->
<!--              <div>-->
<!--                <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--                <ion-text class="text">212</ion-text>-->
<!--                <ion-text class="text">Meters</ion-text>-->
<!--              </div>-->
<!--            </ion-col>-->
<!--            <ion-col>-->
<!--              <div>-->
<!--                <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--                <ion-text class="text">3</ion-text>-->
<!--                <ion-text class="text">Bedrooms</ion-text>-->
<!--              </div>-->
<!--            </ion-col>-->
<!--            <ion-col>-->
<!--              <div>-->
<!--                <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--                <ion-text class="text">1</ion-text>-->
<!--                <ion-text class="text">Bathroom</ion-text>-->
<!--              </div>-->
<!--            </ion-col>-->
<!--            <ion-col>-->
<!--              <div>-->
<!--                <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--                <ion-text class="text">4</ion-text>-->
<!--                <ion-text class="text">Floor</ion-text>-->
<!--              </div>-->
<!--            </ion-col>-->
<!--          </ion-row>-->
<!--        </ion-card-content>-->
<!--        &lt;!&ndash; Options &ndash;&gt;-->
<!--        <ion-item-options side="end">-->
<!--          <ion-item-option color="primary">-->
<!--            <div slot="icon-only">-->
<!--              <ion-icon size="large" name="heart-outline"></ion-icon>-->
<!--            </div>-->
<!--          </ion-item-option>-->
<!--          <ion-item-option color="secondary">-->
<!--            <div slot="icon-only">-->
<!--              <ion-icon size="large" name="arrow-redo-outline"></ion-icon>-->
<!--            </div>-->
<!--          </ion-item-option>-->
<!--        </ion-item-options>-->
<!--      </ion-item>-->
<!--    </ion-item-sliding>-->
<!--  </ion-card>-->


<!--  <ion-virtual-scroll [items]="items" approxItemHeight="320px">-->
<!--    <ion-card class="card" *virtualItem="let item; let itemBounds = bounds;">-->
<!--      <div>-->
<!--        <ion-img [src]="item.imgSrc" [alt]="item.name"></ion-img>-->
<!--      </div>-->
<!--      <ion-card-content class="overlay-top">-->
<!--        <ion-row>-->
<!--          <ion-col class="ion-padding-top">-->
<!--            <div>-->
<!--              <h3>Land</h3>-->
<!--            </div>-->
<!--          </ion-col>-->
<!--        </ion-row>-->
<!--      </ion-card-content>-->
<!--      <ion-card-content>-->
<!--        <ion-row class="ion-align-items-stretch">-->
<!--          <ion-col>-->
<!--            <ion-item lines="none" class="icon-text">-->
<!--              <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--              <ion-text class="text">New York City, NY 12120</ion-text>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--        </ion-row>-->
<!--        <ion-row class="ion-align-items-stretch">-->
<!--          <ion-col>-->
<!--            <ion-item lines="none" class="icon-text">-->
<!--              <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--              <ion-text class="text">2</ion-text>-->
<!--              <ion-text class="text">{{'BEDROOMS' | translate}}</ion-text>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--            <ion-item lines="none" class="icon-text">-->
<!--              <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--              <ion-text class="text">44</ion-text>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--            <ion-item lines="none" class="icon-text">-->
<!--              <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--            <ion-item lines="none" class="icon-text">-->
<!--              <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--          <ion-col>-->
<!--            <ion-item lines="none" class="icon-text">-->
<!--              <ion-icon class="icon" size="normal" name="apps-outline"></ion-icon>-->
<!--            </ion-item>-->
<!--          </ion-col>-->
<!--        </ion-row>-->
<!--      </ion-card-content>-->
<!--    </ion-card>-->
<!--  </ion-virtual-scroll>-->
