<ion-header [translucent]="true" collapse="fade" *ngIf="viewType">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" shape="round" (click)="dismiss()">
        <ion-icon color="dark" name='arrow-back'></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">{{  viewType | translate }}</ion-title>
  </ion-toolbar>
</ion-header>


<cdk-virtual-scroll-viewport [class.margin]="!viewType" itemSize="{{items.length}}">
  <ion-list>
    <ion-card class="card-size" *cdkVirtualFor="let item of items" button (click)="goToPropertyDetails(item)">
      <ng-container [ngTemplateOutlet]="imageList" [ngTemplateOutletContext]="{item: item}"></ng-container>
      <!--      <ng-container [ngTemplateOutlet]="thumbnailsList" [ngTemplateOutletContext]="{item: item}"></ng-container>-->

      <!--TODO -->
      <!--            <ng-container [ngTemplateOutlet]="textDetailsList" [ngTemplateOutletContext]="{item: item}"></ng-container>-->
    </ion-card>
  </ion-list>

</cdk-virtual-scroll-viewport>

<!--IMAGE CARDS LIST-->
<ng-template #imageList let-item="item">
  <ion-card-content class="ion-no-margin ion-no-padding">
    <img class="image-cover" [src]="item.img"/>
    <div class="flex-column space-between flex-auto" [ngStyle]="{'min-height':'24vh'}">
      <ion-row class="category ion-row">
        <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{item: item}"></ng-container>
        <ng-container [ngTemplateOutlet]="price" [ngTemplateOutletContext]="{item: item,pushEnd: true}"></ng-container>
      </ion-row>
      <ng-container [ngTemplateOutlet]="date" [ngTemplateOutletContext]="{item: item, pushEnd: true}"></ng-container>
      <ion-row class="ion-row">
        <ng-container [ngTemplateOutlet]="rating" [ngTemplateOutletContext]="{item: item}"></ng-container>
        <ng-container [ngTemplateOutlet]="state" [ngTemplateOutletContext]="{item: item}"></ng-container>
      </ion-row>
    </div>
  </ion-card-content>

  <ion-item-sliding class="ion-no-margin ion-no-padding">
    <ion-item class="ion-no-margin ion-no-padding">
      <ng-container [ngTemplateOutlet]="details" [ngTemplateOutletContext]="{item: item}"></ng-container>
    </ion-item>
    <ng-container [ngTemplateOutlet]="slidingOptions"></ng-container>
  </ion-item-sliding>

</ng-template>

<!--THUMBNAILS LIST-->
<ng-template #thumbnailsList let-item="item">
  <ion-item-sliding class="ion-no-margin ion-no-padding">
    <ion-item class="flex-column ion-no-padding ion-no-margin">
      <ion-thumbnail [class.auto] slot="start" class="ion-no-margin ion-no-padding">
        <ion-img [src]="item.img"></ion-img>
      </ion-thumbnail>
      <div class="full-height full-width ion-no-padding ion-no-margin">

        <ion-row class="ion-row ion-no-padding ion-no-margin">
          <ion-item class="ion-no-padding ion-no-margin">
            <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>
            <ion-text class="text">{{item.address}}</ion-text>
          </ion-item>
          <div class="flex-row full-width flex-1">
            <ng-container [ngTemplateOutlet]="category" [ngTemplateOutletContext]="{item: item}"></ng-container>
            <ng-container [ngTemplateOutlet]="square" [ngTemplateOutletContext]="{item: item}"></ng-container>
          </div>
          <div class="flex-row full-width flex-1">
            <ng-container [ngTemplateOutlet]="date" [ngTemplateOutletContext]="{item: item}"></ng-container>
            <div class="ion-justify-content-end full-width ion-align-items-end">
              <ng-container [ngTemplateOutlet]="price" [ngTemplateOutletContext]="{item: item}"></ng-container>
            </div>
          </div>
        </ion-row>
      </div>
    </ion-item>
    <ng-container [ngTemplateOutlet]="slidingOptions"></ng-container>
  </ion-item-sliding>
</ng-template>

<!--DETAILS LIST-->
<ng-template #details let-item="item">
  <ion-card-content class="ion-no-margin ion-no-padding">
    <ion-row class="ion-no-margin ion-no-padding">
      <ng-container [ngTemplateOutlet]="address" [ngTemplateOutletContext]="{item: item}"></ng-container>
      <ng-container
        *ngIf="item.floor"
        [ngTemplateOutlet]="floor" [ngTemplateOutletContext]="{item: item}"></ng-container>
    </ion-row>
    <ion-row>
      <ng-container [ngTemplateOutlet]="bedrooms" [ngTemplateOutletContext]="{item: item}"></ng-container>
      <ng-container [ngTemplateOutlet]="bathrooms" [ngTemplateOutletContext]="{item: item}"></ng-container>
      <ng-container [ngTemplateOutlet]="square" [ngTemplateOutletContext]="{item: item}"></ng-container>
      <ng-container [ngTemplateOutlet]="nextTo" [ngTemplateOutletContext]="{item: item}"></ng-container>
    </ion-row>
  </ion-card-content>
</ng-template>


<!--CATEGORY-->
<ng-template #category let-item="item">
  <ion-col>
    <ion-chip color="primary">
      {{item.category}}
    </ion-chip>
  </ion-col>
</ng-template>
<!--PRICE-->
<ng-template #price let-item="item" let-pushEnd="pushEnd">
  <ion-col class="flex-row ion-justify-content-end" [class.ion-justify-content-end]="pushEnd">
    <ion-chip color="primary">
      <ion-icon *ngIf="item.priceDown" name="trending-down-outline" color="success" size="medium"></ion-icon>
      <ion-icon *ngIf="item.priceUp" name="trending-up-outline" color="danger" size="medium"></ion-icon>
      <ion-text class="price">
        {{item.price | currency: userSettings.currency : 'symbol': '3.0'}}
      </ion-text>
    </ion-chip>
  </ion-col>
</ng-template>

<!--ADDRESS-->
<ng-template #address let-item="item">
  <ion-col class="ion-align-items-center flex-row ion-text-nowrap">
    <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>
    <ion-text class="text address">{{item.address}}</ion-text>
  </ion-col>
</ng-template>


<!--RATING-->
<ng-template #rating let-item="item">
  <ion-col>
    <ion-chip color="primary">
      <ion-item class="ion-no-padding ion-no-margin">
        <ion-icon size="small" name="star"></ion-icon>
        <ion-icon size="small" name="star"></ion-icon>
        <ion-icon size="small" name="star"></ion-icon>
        <ion-icon size="small" name="star-half"></ion-icon>
        <ion-icon size="small" name="star-outline"></ion-icon>
      </ion-item>
      <ion-text class="text-value">3.5</ion-text>
    </ion-chip>
  </ion-col>
</ng-template>

<!--STATE-->
<ng-template #state let-item="item">
  <ion-col class="flex-row ion-justify-content-end">
    <ion-chip color="primary">
      <ion-text class="text">{{item.state[0] | translate}}</ion-text>
    </ion-chip>
    <ion-chip color="primary" *ngIf="item.state[1]">
      <ion-text class="text">{{item.state[1] | translate}}</ion-text>
    </ion-chip>
  </ion-col>
</ng-template>

<!--DATE-->
<ng-template #date let-item="item" let-pushEnd="pushEnd">
  <ion-col class="flex-row ion-nowrap" [class.ion-justify-content-end]="pushEnd">
    <ion-chip color="primary" class="ion-nowrap label-nowrap">
      <ion-icon name="timer"></ion-icon>
      <ion-text class="text ion-nowrap">{{item.updatedAt | localizedDate}}</ion-text>
    </ion-chip>
  </ion-col>
</ng-template>

<!--BEDROOMS-->
<ng-template #bedrooms let-item="item">
  <ion-col class="flex-row ion-align-items-center">
    <ion-icon class="icon" size="small" name="bed-outline"></ion-icon>
    <ion-text class="text-value">{{item.bedroom}}</ion-text>
    <ion-text class="text">{{'BEDROOMS' | translate}}</ion-text>
  </ion-col>
</ng-template>

<!--BATHROOMS-->
<ng-template #bathrooms let-item="item">
  <ion-col class="flex-row ion-align-items-center">
    <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>
    <ion-text class="text-value">{{item.bathroom}}</ion-text>
    <ion-text class="text">{{'BATHROOMS' | translate}}</ion-text>
  </ion-col>
</ng-template>


<!--FLOOR-->
<ng-template #floor let-item="item">
  <ion-col class="flex-row ion-align-items-center">
    <ion-icon class="icon" size="small" name="apps-outline"></ion-icon>
    <ion-text class="text-value">{{item.floor}}</ion-text>
    <ion-text class="text">{{'FLOOR' | translate}}</ion-text>
  </ion-col>
</ng-template>

<!--SQUARE-->
<ng-template #square let-item="item">
  <ion-col class="flex-row ion-align-items-center">
    <ion-icon class="icon" size="small" name="body-outline"></ion-icon>
    <ion-text class="text-value">{{item.square}}</ion-text>
    <ion-text class="text">{{userSettings?.measurement | translate}}</ion-text>
  </ion-col>
</ng-template>

<!--NEXT TO-->
<ng-template #nextTo let-item="item">
  <ion-col class="flex-row">
    <div class="flex-row ion-align-items-center" *ngFor="let nextTo of item.nextTo">
      <ion-icon class="icon" size="small" color="primary" name="ribbon-outline"></ion-icon>
      <ion-text class="">{{nextTo | translate}}</ion-text>
    </div>
  </ion-col>
</ng-template>

<!--SLIDING OPTIONS-->
<ng-template #slidingOptions>
  <ion-item-options side="end">
    <ion-item-option color="primary">
      <div slot="icon-only">
        <ion-icon size="large" name="heart-outline"></ion-icon>
      </div>
    </ion-item-option>
    <ion-item-option color="secondary">
      <div slot="icon-only">
        <ion-icon size="large" name="arrow-redo-outline"></ion-icon>
      </div>
    </ion-item-option>
  </ion-item-options>
</ng-template>
