/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
@import "./fonts.scss";
@import "./assets/styles/colors.scss";
@import "./common";

ion-content {
  --background: none;
  background: $color-bg;
}

/* Inputs Style */
.input-item {
  --background: none;
  padding: 8px 10px 10px 20px;
  height: 60px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  box-shadow: inset -7px -7px 8px $color-white, inset 2px 2px 9px #9d9fa67a;
  border-radius: 8px;
  ion-input {
    color: $color-gray-light;
  }
  ion-input input::placeholder {
    color: $color-gray-light;
    font-size: 16px;
    font-weight: 500;
  }
}

.grd-btn {
  --background: none;
  background: $button-bg;
  box-shadow: $button-shadow;
  border-radius: 10px;
  height: 58px;
  color: $color-white;
  text-transform: capitalize;
  --border-radius: 10px;
  font-size: 16px;
}

.de-flex {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.flex-all-center{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
}

.other-details {
  display: flex;
  flex-direction: column;
  ion-label {
    margin-bottom: 5px;
    font-size: 18px;
    white-space: nowrap;
    font-weight: 400;
    color: $color-gray-light;
    a {
      font-weight: 500;
    }
  }
}

.flexed-div {
  padding: 10px;
}

.brand-title {
  margin: 25px 0;
  font-weight: 400;
  color: #383535db;
  font-size: 28px;
  text-shadow: $text-shadow;
  text-align: center;
}

/* Profile Avatar settings */
.avatar-box img {
  background: $color-white;
  padding: 0px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  object-fit: cover;
}


.cameraIcon {
  position: absolute;
  margin-top: -60px;
  margin-left: 92px;
  z-index: 10px;
  ion-icon {
    font-size: 30px;
    background: $color-gray-light;
    border-radius: 50px;
    color: $color-white;
    padding: 5px;
  }
}
.box-view {
  padding: 7px;
  margin: 15px 0;
  --background: none;
  border-radius: 8px;
  box-shadow: 4px 5px 5px #8d8f914d, -3px -3px 3px $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  padding: 6px;
}

.img-icon {
  width: 30px;
  margin-right: 5px;
}

.gray {
  color: $color-gray-light !important;
}
.gray-txt {
  color: $color-gray-light;
  font-weight: 500;
  font-size: 22px;
  font-style: normal;
}

a {
  color: $color-primary !important;
}

/* Paddings */
.ptb {
  padding: 5px 0px 5px 0px !important;
}
.ptb-10 {
  padding: 10px 0px 10px 0px !important;
}
.plr-5 {
  padding: 0px 5px 0px 5px;
}
.plr-10 {
  padding: 0px 10px 0px 10px;
}
.plr-15 {
  padding: 0px 15px 0px 15px;
}
