/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 @import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'theme/fonts';
@import 'theme/colors';
@import 'theme/common';

@import "~leaflet/dist/leaflet.css";

@font-face {
  font-family: SFPRODISPLAYBLACKITALIC;
  src: url("assets/fonts/SFPRODISPLAYBLACKITALIC.OTF");
}

@font-face {
  font-family: SFPRODISPLAYBOLD;
  src: url("assets/fonts/SFPRODISPLAYBOLD.OTF");
}

@font-face {
  font-family: SFPRODISPLAYMEDIUM;
  src: url("assets/fonts/SFPRODISPLAYMEDIUM.OTF");
}

.SFPROM20 {
  font-family: SFPRODISPLAYMEDIUM !important;
  font-size: 20px !important;
}

.SFPROM11 {
  font-family: SFPRODISPLAYMEDIUM !important;
  font-size: 11px !important;
}

.SFPROM15 {
  font-family: SFPRODISPLAYMEDIUM !important;
  font-size: 15px !important;
}

.SFPROB13 {
  font-family: SFPRODISPLAYBOLD !important;
  font-size: 13px !important;
}

.example-full-width {
  width: 100%;
}
