/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "~leaflet/dist/leaflet.css";

/* You can add global styles to this file, and also import other style files */
@import './fonts';
@import "./colors";
@import "./common";

ion-content{
  --background:none;
  background: #F5F5F5;
}
/* Inputs Style */

.input-item{
    --background: none;
    padding: 0 10px 10px 20px;
    height: 50px;
    font-size: 14px;
    border: 1px solid;
    border-image-source: linear-gradient(163.71deg,rgba(18,61,101,.05) 49.23%,rgba(18,61,101,.264642) 146.13%);
    box-shadow: inset -4px -4px 10px #ffffff, inset 4px 4px 6px #9d9fa67a;
    border-radius: 8px;
    ion-input {
        display: block;
        width: 100%;
        padding: 0;
        border: none;
        outline: none;
        box-sizing: border-box;
      }
    ion-input::placeholder {
        color: gray;
    }
}

.error-label{
    font-size: 12px;
    color: red;
    text-transform: lowercase;
}

.grd-btn{
    --background: none;
    background: linear-gradient(180deg,#EA2C01 0%,#F76C00 100%);
    box-shadow: -1px -1px 5px #ffffff, 5px 7px 12px #6e6e6e80;
    border-radius: 8px;
    height: 42px;
    color: #fff;
    text-transform: capitalize;
    --border-radius: 8px;
}

.de-flex{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* Profile Avatar settings */
.avatar-box img {
    background: #fff;
    padding: 5px;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
  }
  .profile_pic_icon img.smalllogo {
    background: #fff;
    padding: 5px;
    border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important;
    object-fit: cover !important;
  }
.cameraIcon {
    position: absolute;
    right: 38%;
    margin-top: -40px;
    z-index: 10px;
    ion-icon{
        font-size: 18px;
        background: #808289cf;
        border-radius: 50px;
        color: white;
        padding: 5px;
    }
  }
  .box-view{
    padding: 7px;
    margin: 15px 0;
    --background: none;
    border-radius: 8px;
    box-shadow: 5px 5px 8px #8d8f914d, -3px -3px 10px #fff;
    height: 65px;
  }

  .gray-txt{
    color: gray;
    font-size: 1.1rem;
  }
  a{
    color: #3880ff !important;
  }

/* Paddings */
.plr-5{
    padding: 0px 5px 0px 5px;
}
.plr-10{
    padding: 0px 10px 0px 10px;
}
.plr-15{
    padding: 0px 15px 0px 15px;
}