$color-primary: #3140f5;
$color-primary-light: #9AE7FF;
$color-secondary: #8BC7FF;
$color-tertiary: #5260ff;
$color-success: #2dc86b;
$color-warning: #ffc409;
$color-danger: #e82640;
$color-dark: #2d2d52;
$color-gray-dark: #636470;
$color-medium: #bec1de;
$color-light: #f4f5f8;


$color-white: #FFF;
$color-black: $color-dark;
$color-blue: $color-primary;

$color-orange: orange;
$color-yellow: yellow;
$color-red: #AE1100;
$color-border: $color-light;
$color-bg: #EBECF0;
$color-shadow: 0px 3px 4px #ffffff, 0px 0px 0px $color-primary;

