<ion-header class="head-content">
  <ion-card class="close-icon"><ion-icon name="close-outline"></ion-icon></ion-card>
  <div class="title-text">Details</div>
  <ion-card class="share-btn"><ion-icon name="arrow-redo-outline"></ion-icon></ion-card>
  <ion-card class="heart-icon"><ion-icon name="heart-outline"></ion-icon></ion-card>
  <button color="#EEEEEF" class="main-button" routerLink="/main">Main</button>
  <button color="#EEEEEF" routerLink="/location" class="location-button">Location</button>
  <button color="red" routerLink="/rooms" class="room-button">Rooms</button>
  <button color="#EEEEEF" routerLink="/agreement" class="agreement-button">Agreement</button>
  </ion-header>

<ion-content>
  <div>
    <ion-icon name="chevron-back-outline" style="font-size: 20px;
    position: absolute;
    margin-top: 43px;"></ion-icon>
    <ion-icon name="chevron-forward-outline" style="font-size: 20px;
    position: absolute;
    margin-left: 245px;
    margin-top: 45px;"></ion-icon>
    <img src="../../../assets/images/img.png" alt="">
  </div>
  <br>
  <p style="margin-top: -21px;
  font-size: 12px;
  padding: 7px;">Kitchen</p>
  <br>
  <button color="red">Gas Installation</button>
  <button color="red">Bar Table</button>
  <br>
  <button color="white" class="button-color">Dual Sinks</button>
  <br>
  <p style="margin-left: 5px;
  font-size: 13px;">Includes:</p>
  <br>
  <button color="red">Basement</button>
  <button color="red">Air Conditioning</button>
  <br>
  <button color="red">Balcone</button>
  <button color="white" class="button-color">Fast Internet</button>
  <button color="white" class="button-color">Garage</button>
  <br>
  <button color="white" class="button-color">Firespace</button>
  <button color="white" class="button-color">Parking</button>
  <button color="white" class="button-color">Pool</button>
  <br>
  <button color="white" class="button-color">Sauna</button>
  <button color="white" class="button-color">Security Cameras</button>
  <button color="white" class="button-color">Balcone</button>
  <br>
  <button color="red">Smart Control</button>
  <button color="white" class="button-color">Water Heating</button>
  <div class="button-content">
    <p style="margin-left: 5px;
    font-size: 12px;
">Facilities and Amenties </p>
    <br>
    <button color="red">Basement</button>
    <button color="red">Air Conditioning</button>
    <br>
    <button color="red">Balcone</button>
    <p>+7 View All</p>
  </div>
  <p>Bathrooms 1</p>
  <br>
    <div>
    
    <p>Bath Cabin</p>
  </div>
   <div>

    Bath
  </div>
</ion-content>
